{% extends 'layout.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{%block title%}
    {{super()}}
    Datos de Usuario
{% endblock%}

{% block content %}
    <h2 class="text-c-h"><strong> Datos de Perfil</strong></h2>
    <div class="container" >
        <p><strong>ID del Usuario:</strong> {{ data.user_id }}</p>
        <p><strong>Nombre del Usuario:</strong> {{ data.user_name }}</p>
        <p><strong>Telefono del Usuario:</strong> {{ data.user_phone }}</p>
        <p><strong>Correo del Usuario:</strong> {{ data.user_email }}</p>
        <p><strong>Fecha de creación del Usuario:</strong> {{ data.create_date }}</p>
    </div>
{% endblock %}